*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.option{
    height:90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
  
    background-color: rgb(34, 34, 99);
    color: white;
  position: relative;
  top: 10vh;

  height: 0;
  overflow: hidden;
  transition: all;
  transition-duration: 1.5s;
  z-index:+5;
}
.option ul{
    display: flex;

    flex-direction: column;
    row-gap: 5vh;
}
.option li{
    display: flex;
    gap: 5px;
    list-style: none;
    font-size: 25px;
}
.option ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    opacity: 0.7;
}
.back{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    /* bottom: 10px; */
    left:45px;
    transform: rotate(90deg);
    
}

.show{
  height: 90vh;
}

.img{
    height: 45px;
}
.nav{

    width: 100vw;
    height: 10vh;
    background-color:rgb(34, 34, 99);
    position: absolute;
   
    /* left: 20vw; */
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav input{
    border: none;
    outline: none;
   background: transparent;
   color: white;
   font-size: larger;

}
.pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.search{
    border: 2px solid white;
    padding: 10px;
    border-radius: 14px;
    
}
.icon{
    font-size: 25px;
    color: white;
    position: relative;
    left: 5px;
}

.update{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: +1;
   background-color: rgb(34, 34, 99);
   padding: 16px;
   position: absolute;
   top:100%;
   right:15px;
    transform: scale(0);
  overflow: hidden;
  transition:all;
  transition-duration: 1s;
}
.update a{
    text-decoration: none;
    font-size: larger;
    color: white;
    
}

.display{
transform: scale(1);
}
.dropdowm-icon{
    position: relative;
    bottom:3px;
    font-size: 29px;
    color: white;
}
.icn{
    font-size: larger;
    position: absolute;
    right: 3px;
}
.logo{
    display: flex;
}

.dropdown{
    font-size: 25px;
}


.progress{
    position: absolute;
    top:40vh;
    left:40vw;
    font-size: 40px;
    color: green;
} 



/* +++++++++++ inside room+++++++++*/

.activitycontainer{
    width: 100vw;
    height: 90vh;
    background-color:#ccdbdb;
    /* background-color: red; */
    position: absolute;
    top: 10vh;
    /* left: 20vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.activitybox{
    
    width: 56%;
    height: 80%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 19px;
    border: 2px solid white;
    color: black;
    font-size: larger;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;                        
    gap: 10px;
   
}
.activitycontent{
    background-color:lightblue;
    border-radius: 14px;
    padding: 15px;
}
.chatroom{
    border-bottom: 2px solid white;
}
.activityl1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* +++++++++++++++++++++++++++++++Classroom++++++++++++++++++++++++++++++++++++++++++++ */

.bigcontainer{
    min-height: 100vh;
    position: absolute;
    top: 10vh;
     /* left: 20vw; */
    width: 100vw;
    display: flex;
    background-color:lightgray;
    /* z-index: -10; */
   gap: 10px;
 
   
}
.leftcontainer{
    margin-left:20vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    gap: 5px;
    padding-top: 10px;
    /* justify-content: center; */
    align-items: center;
    border: 5px solid white;
    padding: 10px;
    border-radius: 10px;
}
.classicon{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:x-large;
    border-radius: 5px;
    background-color: green;
  
}
.leftcontainer  ul{
   
    display: flex;
    flex-direction: column;
    gap: 9px;
    /* justify-content: space-between; */
    position: relative;
    right: 6.7vw;
}
.leftcontainer ul li{
    list-style: none;
    font-size:25px;
  
   
}
.leftcontainer ul li a{
    text-decoration: none;
    color: #000;
 
}
.rightcontainer{
    width: 100%;
    border: 5px solid white;
    padding: 10px;
    border-radius: 10px;
}
.mesinput{
    position: absolute;
    bottom: 15vh;
    background-color: white;
    
    padding: 5px;
    border-radius: 10px;
}

.mesginputforchat{
   width: 45vw;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;

    font-size: larger;
   
}
.messagebox{
    overflow-y: scroll;
    margin-top:3%;
   
    height: 60vh;
    width: 52vw;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:7px;
    
}

.mes{
    padding: 7px;
    background-color:#e0ebeb;
    /* box-shadow: 2px 2px 50px ; */
    color: black;
    font-size: larger;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.messager{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
} 

.messager :nth-child(1){
    font-size: 20px;
}


/* +++++++++ all students inside room +++++ */

.allstudentcontainer{
    width: 100%;
     padding-top: 4%;
    overflow: scroll;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

   row-gap: 15px;
    
}
.studentphoto{
    height: 100px;
    width: 100px;
    border-radius: 50%;


}
.studentcard{
    width:85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color:rgb(177, 152, 152);
    color: white;
    border-radius: 10px;
    max-height: 250px;
}


